.model-3d-container[data-v-75d04d74]{background:transparent}.model-3d-container canvas[data-v-75d04d74]{display:block;height:100%;width:100%}.material-symbols-outlined{font-variation-settings:"FILL" 0,"wght" 400,"GRAD" 0,"opsz" 24}
