.model-3d-container[data-v-6799beb2]{background:transparent}.model-3d-container canvas[data-v-6799beb2]{display:block;height:100%;width:100%}.material-symbols-outlined{font-variation-settings:"FILL" 0,"wght" 400,"GRAD" 0,"opsz" 24}
